<% @users.each do |e| %>
    <p>
        <b>ID:</b> <%= e.uid %>
        <b>pass:</b> <%= e.pass %>
        <%= link_to '削除', "/users/#{e.id}", method: :delete %>
    </p>
<% end %>

<p><%= link_to 'ユーザー登録', '/users/new' %></p>

<p><%= link_to 'ツイートする', '/tweets/index' %></p>