<% @users.each do |e| %>
    <p>
        <b>ID:</b> <%= e.uid %>
        <b>pass:</b> <%= e.pass %>
        <%= link_to '削除', user_path(e), method: :delete %>
    </p>
<% end %>


<p><%= link_to 'ユーザー登録', new_user_path %></p>

<p><%= link_to 'ツイート一覧', tweets_path %></p>